name: Build CI

on: [push, pull_request]

jobs:
  build-all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install make cmake unzip

      - name: Download Toolchains
        run: |
          wget https://github.com/ch32-riscv-ug/MounRiver_Studio_Community_miror/releases/download/1.92-toolchain/riscv-none-embed-gcc-8-linux-1.92.zip
          unzip riscv-none-embed-gcc-8-linux-1.92.zip
          echo "$(pwd)/riscv-none-embed-gcc-8-linux-1.92/bin" >> $GITHUB_PATH

      - name: Build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release
